<ion-header>
  <ion-toolbar>
    
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="3"></div>
      <img src="./assets/Group 20.svg">
      <span class="title">Masters :</span>
      <span class="title">Create Site</span>
      
    </div>
  

  </ion-toolbar>
</ion-header>
<ion-content>
<div fxLayout="column">
  <mat-form-field class="input" appearance="standard">
    <input placeholder="Enter User Name" matInput type="text" formControlName="UserName"  autocomplete="off" />
  </mat-form-field>
</div>
</ion-content>