<ion-header mode="ios">
  <ion-toolbar class="toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <div fxLayoutAlign="start center" (click)="BackClicked()">
        <img class="backbtn" src="assets/Group 20.svg">
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="8px">
        <span class="title">Masters :</span>
        <span class="title"><span>{{SelectedSite.SiteID?'Edit':'Create'}}</span> Site</span>
      </div>
      <div fxFlex></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="SiteFormGroup" autocomplete="off">
    <div fxLayout="column" class="form-wrapper">
      <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between center">
        <span class="subtitle">Title</span>
        <mat-form-field appearance="standard" class="formfield">
          <input matInput placeholder="Enter Title" formControlName="Title" fxFlex>
          <mat-error *ngIf="SiteFormGroup.get('Title').hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between center">
        <span class="subtitle">Geo</span>
        <mat-form-field appearance="standard" class="formfield">
          <input matInput placeholder="Enter Geo location" formControlName="Geo" fxFlex>
          <mat-error *ngIf="SiteFormGroup.get('Geo').hasError('required')">
            Geo is required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between center">
        <span class="subtitle">Plant</span>
        <mat-form-field appearance="standard" class="formfield">
          <input matInput placeholder="Enter Plant" formControlName="Plant" fxFlex>
          <mat-error *ngIf="SiteFormGroup.get('Plant').hasError('required')">
            Plant is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div fxLayoutAlign="center center">
    <img fxFlex=70 src="./assets/Man.svg">
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div fxLayoutAlign="end center" fxLayoutGap="24px">
      <span class="deletetxt" *ngIf="!SelectedSite.SiteID" (click)=ResetControl()>Clear</span>
      <span class="deletetxt" *ngIf="SelectedSite.SiteID" (click)=DeleteSiteClicked()>Delete</span>
      <span class="savetxt" (click)=SaveSiteClicked()>{{SelectedSite.SiteID?'Update':'Create'}}</span>
    </div>
  </ion-toolbar>
</ion-footer>