<ion-header>
  <ion-toolbar>
    
    <!-- <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="3"></div>
      <img src="./assets/Group 20.svg">
      <span class="title">Masters:</span>
      <span class="subtitle">Create Site</span>
      
    </div> -->
    <div fxLayout="row">
      <div>hi</div>
      <div>hi</div>
      <div>hi</div>
      <button mat-raised-button>monikaaaaaminika</button>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content>

  <div fxLayout="row">
    <div>hi</div>
    <div>hi</div>
    <div>hi</div>
  
  </div>
</ion-content>




