.toolbar{
    --background:#ffffff;
    --min-height:56px;
    box-shadow: 0 2px 3px 0 rgba(31, 0, 158, 0.08);
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:10px;
    .title{
        font-size: 12px;
        font-family: 'poppins-semi' !important;
        color: #394256;
       
    }
    .backbtn{
        width: 16px;
        height: 16px;
    }
}
.footer-toolbar{
    --background:#f4f4fb;
    --min-height:56px;
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:20px;
    font-size: 12px;
    .deletetxt{
        color: #ff0707;
        font-size: 12px;
    font-family: 'poppins-med' !important;

    }
    .savetxt{
        color: #24e02b;
        font-size: 12px;
        font-family: 'poppins-med' !important;
    
    }
}

.tabledivision{
    max-width: 100%;
    border-radius: 4px;
  }
  .tabledivision::-webkit-scrollbar{
      display: none;
      width: 0; 
      background: transparent;
  }
  .trrr{
      width: 10%;
  }
  table {
      @extend .poppins;
    th {
        font-size: 12px;
      color: #ffffff;
      background-color: #3131ff;
      padding-left: 25px;
      border-bottom:10px solid white;
    }
    td {
      font-size: 12px;
      width: 40px;
      color: #a6aeaf; 
      padding-left: 30px;
      text-align:center;
    }
    td.mat-cell{
        border-bottom-color: transparent;
        text-align:center
    }
    tr {
      height: 52px;
    }
    th.mat-header-cell {
         text-align:center
    }
    th.mat-header-cell:first-child {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
      }
      th.mat-header-cell:last-child {
          border-top-right-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
      }
}
.tableFixHead { overflow: scroll;margin: 0 6px; }
.tableFixHead th { position: sticky; top: 0; }
.tableFixHead{
    overflow: auto;
}
.poppins{
    font-family: poppins-semi;
    font-weight: 600;
}
.fab-btn{
    --background:#3131ff;
    --background-activated:#3131ff;
}
.form-wrapper{
    padding: 20px 16px 8px 32px;
    .subtitle{
        @extend .poppins;
        font-size: 12px;
        color: #394256;
        margin-top: -2px;
    }
    .formfield{
        color: #394256;
        @extend .poppins;
        font-size: 12px;
        width: 70%;
        height: 56px;
        margin-top: -8px;
        input{
            height: 14px;
        }
    }
}
::ng-deep .matselect.mat-select {
    @extend .poppins;
    .mat-select-value{
      height: 14px;
    }
    .mat-select-placeholder {
        color: #bcbfc6;
    }
}
.matoption{
    font-family: poppins-semi;
    font-size: 12px;
    font-weight: 500;
}
::ng-deep .formfield.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: #0000001a !important;
}
input::placeholder{
    color: #bcbfc6;
}
.matautocomplete{
    @extend .poppins;
    font-size: 12px;
    color: #394256; 
}