<ion-app>
  <ion-menu side="start" menuId="side-panel" contentId="main-content" [disabled]="IsLogin">
    <ion-header mode="ios">
      <ion-toolbar class="toolbar">
        <div fxLayout="row" fxLayoutAlign="end center">
          <ion-menu-toggle>
            <img src="assets/images/menu-open.svg">
          </ion-menu-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="user-container">
          <img src="assets/images/user.png">
          <div fxLayout="column">
            <span class="usertxt">{{currentUser?.UserName}}</span>
            <span class="roletxt">{{currentUser?.UserRole}}</span>
          </div>
          <div fxFlex></div>
          <img src="assets/images/user_status.svg">
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div fxFlex class="menu-items-content">
        <mat-nav-list [disableRipple]="true" class="navlist">
          <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
        </mat-nav-list>
      </div>
      <ion-menu-toggle>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" class="logout" (click)="logout()">
          <img src="assets/images/logout.svg">
          <span class="logouttxt">Logout</span>
        </div>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>