<ion-header>
  <ion-toolbar class="toolbar">
    <div *ngIf="!IsSearch" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <div fxLayoutAlign="start center" (click)="BackClicked()">
        <img class="backbtn" src="assets/Group 20.svg">
      </div>
      <div fxLayoutAlign="center center">
        <span class="title">Masters</span>
      </div>
      <div fxFlex></div>
      <img src="assets/Group 8233.svg" (click)="ToggleSearch()">
      <img src="assets/iconfinder_Filter_4737438 (4).svg">
    </div>
    <div *ngIf="IsSearch" class="search-container" fxLayout="row">
      <input [(ngModel)]="SearchKey" class="search" placeholder="Search to - do" autocomplete="off" fxFlex=100>
      <div mat-ripple class="searchbtn" fxLayoutAlign="center">
        <img class="close" (click)="ToggleSearch()" src="./assets/Close.svg">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <mat-tab-group #matTab scrollToCenter [(selectedIndex)]="selectedIndex" class="tab-group" [ngClass]="{'tab-header':IsVisible}"
  (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Site">
      <div class="tab-masters" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="4px">
          <span class="count-label">Site Total Count :</span>
          <span class="count">{{MSites.length}}</span>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" *ngFor="let site of MSites | filter:SearchKey;" (click)="LoadSelected(site)" selected="true">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{site.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{site.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <img class="img" src="assets/images/dotnot.svg" width="6px">
                <span class="titletxt">{{site.Plant}}</span>
              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab label="Space">
      <div class="tab-masters" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="4px">
          <span class="count-label">Space Total Count :</span>
          <span class="count">{{MSpaces.length}}</span>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" *ngFor="let space of MSpaces | filter:SearchKey;" (click)="LoadSelected(space)" selected="true">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{space.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{space.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <img class="img" src="assets/images/dotnot.svg" width="6px">
                <span class="titletxt">{{space.WorkCenter}}</span>
              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab label="Edge Group">
      <div class="tab-masters" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="4px">
          <span class="count-label">Edge Group Total Count :</span>
          <span class="count">{{MGroups.length}}</span>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" style="height: 55px;" *ngFor="let group of MGroups | filter:SearchKey;" (click)="LoadSelected(group)" selected="true">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 55px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{group.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{group.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab label="Gateway">
      <div class="tab-masters" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="4px">
          <span class="count-label">Gateway Total Count :</span>
          <span class="count">{{Gateways.length}}</span>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" style="height: 55px;" *ngFor="let gateway of Gateways | filter:SearchKey;" (click)="LoadSelected(gateway)" selected="true">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{gateway.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{gateway.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab label="Edge Device">
      <div class="tab-masters" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="4px">
          <span class="count-label">Edge Device Total Count :</span>
          <span class="count">{{MEdges.length}}</span>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" *ngFor="let edge of MEdges | filter:SearchKey;" (click)="LoadSelected(edge)" selected="true">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{edge.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{edge.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <img class="img" src="assets/images/dotnot.svg" width="6px">
                <span class="titletxt">{{edge.EdgeID}}</span>
              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab label="Asset">
      <div class="tab-masters" fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="8px">
          <span class="count-label">Assets :</span>
          <span class="count">{{AssetViews.length}}</span>
          <div fxFlex></div>
          <div class="category">
            <img src="assets\images\Ellipse 837.svg" width="6px">
            &nbsp; Working
          </div>
          <div class="category">
            <img src="assets\images\Ellipse 836.svg" width="6px">
            &nbsp; Not Working
          </div>
          <div class="category">
            <img src="assets\images\Ellipse 838.svg" width="6px">
            &nbsp; Other
          </div>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" *ngFor="let asset of AssetViews | filter:SearchKey;index as i;" (click)="LoadSelected(asset)" selected="true"
          [ngClass]="{'left-border-color1':i%3==0,'left-border-color2':i%3==1,'left-border-color3':i%3==2}">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{asset.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{asset.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <img class="img" src="assets/images/dotnot.svg" width="6px">
                <span class="titletxt">{{asset.CreatedOn}}</span>
              </div> -->
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab label="Rule">
      <div class="tab-masters" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="4px">
          <span class="count-label">Rule Total Count :</span>
          <span class="count">{{Rules.length}}</span>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="cards" style="height: 55px;" *ngFor="let rule of Rules | filter:SearchKey;" (click)="LoadSelected(rule)" selected="true">
            <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;padding-left: 1rem;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/dotnot.svg" width="6px">
                  <span class="titletxt">{{rule.Title}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img class="img" src="assets/images/calendar.svg" width="14px">
                  <span class="titletxt">{{rule.CreatedOn | date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <img class="img" src="assets/images/dotnot.svg" width="6px">
                <span class="titletxt">{{GetSite(rule.SiteID)}}</span>
              </div> -->
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
  </mat-tab-group>
  <ion-fab [@toggle]="!IsVisible?'visible':'hidden'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-btn" (click)="LoadSelected()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>