.toolbar{
    --background:#ffffff;
    --min-height:56px;
    box-shadow: 0 2px 3px 0 rgba(31, 0, 158, 0.08);
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:24px;
    .title{
        @extend .poppins;
        color: #394256;
        font-size: 12px;
    }
    .backbtn{
        width: 16px;
        height: 16px;
    }
}
.poppins{
    font-family: poppins-semi;
    font-weight: 600;
}
.tab-group{
    --header-width:100%;
    margin: 0 16px;
    .mat-tab-labels {
        padding: 16px 0 !important;
    }
    .mat-tab-list {
        overflow-x: auto !important;
        transform: none !important;
    }
    .mat-tab-label-container {
        left: 0px;
        width: 100%;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
    .mat-tab-header {
        border-bottom: none;
        position: fixed;
        z-index: 100;
        background-color: #ffffff;
        width: var(--header-width);
    }
    .mat-tab-body-wrapper {
        margin-top: 60px;
    }
    .mat-tab-label-active{
        background-color: #3131ff !important;
        opacity: 1 !important;
        color: #ffffff !important;
    }
    .mat-tab-label{
        padding: 0 16px !important;
        opacity: 1 !important;
        font-family: poppins-med;
        font-weight: 500;
        font-size: 12px;
        color: #00061c;
        border-radius: 4px;
        height: 32px;
        min-width: fit-content;
    }
    .mat-ink-bar {
        visibility: hidden !important;
    }
    .tab-masters{
        padding: 8px 0;
        font-size: 12px;
        .count-label{
            color: #394256;
            font-family: poppins;
        }
        .count{
            color: #394256;
            @extend .poppins;
        }
        .category{
            margin-left: 8px;
            @extend .count;
        }
        .cards{
            height: 72px;
            margin-bottom: 1rem;
            border-radius: 4px;
            font-size: 12px;
            background-color: #f9f8fe;
            .img{
                filter: brightness(0.35);
            }
            .titletxt{
                color: #a6aeaf;
                @extend .poppins;
            }
        }
        .left-border-color1{
            border-left:5px solid #4db151;
        }
        .left-border-color2{
            border-left:5px solid #ff3e3e;
        }
        .left-border-color3{
            border-left:5px solid #3131ff;
        }
    }
}
.fab-btn{
    --background:#3131ff;
    --background-activated:#3131ff;
}
.tab-header{
    .mat-tab-header {
        display: none;
    }
}
.search-container{
    border-radius: 4px;
    border: solid 1px #3131ff;
    background-color: #ffffff;
    .search{
        font-family: 'poppins-semi' !important;
        font-size: 12px;
        color: #3131ff;
        border: none;
        margin-left: 1rem;
    }
    .search::-webkit-input-placeholder {
        color: #3131ff;
        font-size: 12px;
        font-family: 'poppins-bold' !important;
    }
    .search:focus{
        outline: none;
    }
    .searchbtn{
        height: 34px;
        width: 60px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        background-color: #3131ff;
        .close{
            width:24px;
        }
    }
}
  
