.toolbar{
    --background:#ffffff;
    --min-height:56px;
    box-shadow: 0 2px 3px 0 rgba(31, 0, 158, 0.08);
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:24px;
    .title{
        @extend .poppins;
        color: #394256;
        font-size: 12px;
    }
    .backbtn{
        width: 16px;
        height: 16px;
    }
}
.poppins{
    font-family: poppins-semi;
    font-weight: 600;
}