<ion-header>
  <ion-toolbar>
    <div *ngIf="a==1" fxLayout="row" fxLayoutGap="25px">
      <div fxFlex="3"></div>
      <img src="./assets/Group 20.svg">
      <span class="title">Exceptions</span>
      <span class="flex"></span>
      <img (click)="search()" src="./assets/Group 8233.svg">
      <img src="./assets/iconfinder_Filter_4737438 (4).svg">
      <div fxFlex="3"></div>
      </div>
      <div *ngIf="a==2" class="search-container" fxLayout="row">
        <input class="search" placeholder="Search to - do" (keyup)="applyFilter($event)" #input autocomplete="off"
          fxFlex=100>
        <div mat-ripple class="searchbtn pointer" fxLayoutAlign="center">
          <img class="close" (click)="close()" src="./assets/Close.svg">
        </div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div fxFlex="row" class="maindiv">
    <div fxFlex="3"></div>
    <div fxFlex="94" fxLayout="column">
      <div fxFlex="2">

      </div>
      <div fxFlex="98" class="tabledivision">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Excep I’D">
            <th mat-header-cell *matHeaderCellDef>Excep I’D</th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.ExcepID}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Site">
            <th mat-header-cell *matHeaderCellDef> Site </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Site}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Space">
            <th mat-header-cell *matHeaderCellDef> Space</th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Space}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Asset">
            <th mat-header-cell *matHeaderCellDef> Asset </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Asset}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Class">
            <th mat-header-cell *matHeaderCellDef> Class </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Class}}
            </td>
          </ng-container>
          <ng-container matColumnDef="PramID">
            <th mat-header-cell *matHeaderCellDef> PramID </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.PramID}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Value}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Date/Time">
            <th mat-header-cell *matHeaderCellDef> Date/Time </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.DateTime}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Assigned To">
            <th mat-header-cell *matHeaderCellDef>Assigned To </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Assignedto}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Threshold">
            <th mat-header-cell *matHeaderCellDef> Threshold </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Threshold}}
            </td>
          </ng-container>
          <ng-container matColumnDef="SLA Start">
            <th mat-header-cell *matHeaderCellDef> SLA Start </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.SLAStart}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status </th>
            <td mat-cell *matCellDef="let element" class="rowfix">
              {{element.Status}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Resolve" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> Resolve
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;" class="rowfix">
              <img [matMenuTriggerFor]="menu" src="./assets/moreaction.svg">
              <mat-menu class="menubtn" #menu="matMenu">
                <button class="menu1 menubtn" mat-menu-item routerLink="/livefeed">Escalation Level </button>
                <button class="menu1 menubtn" mat-menu-item>Solved By</button>
                <button class="menu1 menubtn" mat-menu-item>SLA Percentage</button>
                <button class="menu1 menubtn" mat-menu-item>Resolution Text</button>
                <button class="menu1 menubtn" mat-menu-item>RCA Text</button>
                <button class="menu1 menubtn" mat-menu-item>RCA Attachments</button>
                <button class="menu1 menubtn" mat-menu-item>CAP Text</button>
                <button class="menu1 menubtn" mat-menu-item>CAPA Text Status</button>



              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr mat-row *matRowDef="let row,index as i;columns: displayedColumns;">
          </tr>
        </table>


      </div>



    </div>
    <div fxFlex="3"></div>
  </div>

  <!-- <div fxLayout="row"  fxLayoutAlign="space-evenly center" >
          <div fxLayoutGap="5px">
            <img src="./assets/Ellipse 102.svg">
            <span>All</span>
          </div>
          <span>Active</span>
          <span>Inactive</span>
        </div> -->
  <!-- <div fxFlex="87" class="tabledivision tableFixHead" >

          <table mat-table [dataSource]="dataSource" class="tableFixHead" matSort>

            

            <ng-container matColumnDef="Site" >
              <th mat-header-cell *matHeaderCellDef> Site </th>
              <td mat-cell *matCellDef="let element" class="rowfix">
                {{element.Site}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Space">
              <th mat-header-cell *matHeaderCellDef> Space</th>
              <td mat-cell *matCellDef="let element" >
                {{element.Space}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Asset">
              <th mat-header-cell *matHeaderCellDef> Asset </th>
              <td mat-cell *matCellDef="let element" class="rowfix">
                {{element.Asset}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Edge">
              <th mat-header-cell *matHeaderCellDef>Edge</th>
              <td mat-cell *matCellDef="let element" class="rowfix" >
                {{element.Edge}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Lastfeed">
              <th mat-header-cell *matHeaderCellDef>Last feed</th>
              <td mat-cell *matCellDef="let element" class="rowfix" >
                {{element.Lastfeed}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element" class="rowfix" >
                {{element.Status}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Action" sticky>
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef  >
              
            <img src="./assets/Ellipse 102.svg">



              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
            <tr mat-row *matRowDef="let row,index as i;columns: displayedColumns;">
            </tr>
          </table>
        </div> -->





  <!-- </div> -->





</ion-content>





















<!-- {{element.Action}} -->
<!-- <mat-icon>more_horiz</mat-icon> -->
<!-- <mat-icon>more_vert</mat-icon> -->
<!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->