.flex{
    flex: 1 1 auto;
}
*{
    font-family: 'poppins-semi' !important;
}
.title{
    color: #394256;
}
.maindiv{
    width: 100%;
    height: 100%;
}
// .tabledivision{
//     height: 75vh !important;
//     width: 1450px;
//     max-width: 100%;
//     overflow: auto;
//     border-radius: 4px;
//   }
//   .tabledivision::-webkit-scrollbar{
//       width: 0; 
//       background: transparent;
//   }
//   table {
//     width: 100%;
//     border: solid 2px #f4f4f4;
//     height: 300px !important; 
//     th {
//       color: #ffffff;
//       background-color: #3131ff;
//       font-family: Poppins;
//       z-index: 1;
//       padding-left: 25px;
//     }
//     tr:first-child {
//         position: sticky;
//     }
//     td {
//         font-family: 'poopins';
//       font-size: 11px;
//       width: 40px;
//       color: #3e485a; 
//       padding-left: 30px;
//       min-width: max-content !important; 
//     }
//     td.mat-cell{
//         border-bottom-color: transparent;
//     }
//     tr {
//       height: 42px;
//     }
//     th.mat-header-cell {
//         text-align:center
//    }
    
//     th.mat-header-cell:first-child {
//       border-top-left-radius: 4px !important;
//     }
//     th.mat-header-cell:last-child {
//         border-top-right-radius: 4px !important;
//     }
// }
.tabledivision{

    overflow: scroll;
    height: 27rem;
    width: 1450px;
    max-width: 100%;
    border-radius: 4px;
  }
  .tabledivision::-webkit-scrollbar{
      display: none;
      width: 0; 
      background: transparent;
  }
  .trrr{
      width: 10%;
  }

  table {
    width: 100%;
    th {
      color: #ffffff;
      background-color: #3131ff;
      padding-left: 25px;
      border-bottom:10px solid white;
    }
    td {
       
      font-size: 11px;
      width: 40px;
      color: #3e485a; 
      padding-left: 30px;
      text-align:center
    }

    td.mat-cell{
        border-bottom-color: transparent;
        text-align:center;
       
    }

    tr {
      height: 52px;
    }
    th.mat-header-cell {
         text-align:center
    }
    
    th.mat-header-cell:first-child {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }

    th.mat-header-cell:last-child {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    





    //   td.mat-cell:first-child {
    //     border-left: 2px solid #ffa600;
    //     border-bottom-left-radius: 10px;
    //     border-top-left-radius: 10px;
    //   }
      
    //   td.mat-cell:last-child {
    //     border-right: 2px solid #ffa600;
    //     border-bottom-right-radius: 10px;
    //     border-top-right-radius: 10px;
    //   }
}
.icon{
    width: 30%;
    font-size: 60px;
}
