.content{
    background-image: url("/assets/Group 8439.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    --background: none;
    .poppins{
        font-family: 'poppins-semi';
        font-weight: 600;
    }
    .content-wrapper{
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 100%;
        .title-container{
            padding: 0 0 32px;
            .title{
                font-size: 18px;
                @extend .poppins;
                color:#ffffff;
            }
        }
        .card{
            background-color: #ffffff;
            border-radius: 4px;
            margin: 8px 24px;
            padding: 32px 24px 24px 24px;
            .logo-container{
                @extend .poppins;
                .signin{
                    color: #3131ff;
                    font-size: 18px;
                }
                .signinto{
                    font-size: 12px;
                    color: #394256;  
                }
            }
            .form-wrapper{
                @extend .poppins;
                font-size: 12px;
                .label{
                    color: #394256;
                    padding: 8px 0;
                }
                .formfield{
                    height: 56px;
                    .mat-form-field-flex {
                        background-color: #f4f4f4;
                        border-radius: 4px;
                    }
                    .mat-form-field-infix {
                        padding: 6px 0 12px 0;
                    }
                    .mat-form-field-outline {
                        color: #f4f4f4;
                    }
                    input{
                        height: 14px;
                        @extend .poppins;
                        color: #394256 !important;
                    }
                }
                .forgot{
                    color: #3131ff;
                }
                .loginbtn{
                    background-color: #3131ff;
                    color: #ffffff;
                    font-size: 12px;
                    width: 196px;
                }
            }
        }
        ::placeholder{
            color: #2b3540;
            opacity: 40%;
            font-size: 12px;
            @extend .poppins;
        }
    }
    .poweredby{
        position: absolute;
        bottom: 24px;
        left: 24px;
        color: #c4c4c4;
        font-size: 10px;
        z-index: -1;
        @extend .poppins;
        .logo{
            width: 144px;
        }
    }
}

