<ion-content class="content">
  <div class="content-wrapper">
    <div fxLayout="column" class="title-container" fxLayoutAlign="start center">
      <span class="title">Welcome To</span>
      <span class="title">VSense</span>
    </div>
    <mat-card class="card">
      <div fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="logo-container">
          <div fxLayout="column" fxLayoutGap="10px">
            <span class="signin">Sign In</span>
            <span class="signinto">Sign In to Continue</span>
          </div>
          <img src="./assets/Group 8221.svg" width="52px">
        </div>
        <form [formGroup]="loginFormGroup" autocomplete="off" (ngSubmit)="loginClicked()">
          <div fxLayout="column" class="form-wrapper">
            <span class="label">User Name</span>
            <mat-form-field class="formfield" appearance="outline">
              <input placeholder="Enter User Name" matInput type="text" formControlName="UserName" />
            </mat-form-field>
            <span class="label">Password</span>
            <mat-form-field class="formfield" appearance="outline">
              <input placeholder="Enter Password" matInput [type]="PWVisible ? 'password' : 'text'"
                formControlName="Password" />
              <mat-icon matSuffix (click)="ToggleVisible()">{{PWVisible ? 'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>
            <span class="forgot" fxLayoutAlign="end center">Forgot Password?</span>
            <div fxLayoutAlign="center center" style="padding: 24px 0 0;">
              <button class="loginbtn" type="submit" mat-raised-button>Log in</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column" class="poweredby">
    <span>Powered By</span>
    <img src="./assets/exalca_whitelogo.svg" class="logo">
  </div>
</ion-content>