<ion-header mode="ios">
  <ion-toolbar class="toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <div fxLayoutAlign="start center" (click)="BackClicked()">
        <img class="backbtn" src="assets/Group 20.svg">
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="8px">
        <span class="title">Masters :</span>
        <span class="title"><span>{{SelectedGroup.EdgeGroup?'Edit':'Create'}}</span> Edge Group</span>
      </div>
      <div fxFlex></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="GroupFormGroup" autocomplete="off">
    <div class="form-wrapper">
      <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between center">
        <span class="subtitle">Title</span>
        <mat-form-field appearance="standard" class="formfield">
          <input fxFlex matInput autocomplete="off" placeholder="Enter Title" formControlName="Title">
          <mat-error *ngIf="GroupFormGroup.get('Title').hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="tabledivision tableFixHead" *ngIf="GroupParamFormArray.length>0" [ngStyle]="{'height.px':TableHeight}">
      <table mat-table [dataSource]="GroupParamDataSource" formArrayName="GroupParams">

        <ng-container matColumnDef="ParamID">
          <th mat-header-cell *matHeaderCellDef> ParamID</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input formControlName="ParamID" matInput [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let param of DefaultParams" [value]="param.ParamID" class="matautocomplete"
                  (click)="PatchDefaultValues(param,i)">
                  {{param.ParamID}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input matInput formControlName="Title">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Unit">
          <th mat-header-cell *matHeaderCellDef> Unit</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input matInput formControlName="Unit">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="LongText">
          <th mat-header-cell *matHeaderCellDef> Text</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input matInput formControlName="LongText">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Min">
          <th mat-header-cell *matHeaderCellDef> Min</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input type="number" matInput formControlName="Min">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Max">
          <th mat-header-cell *matHeaderCellDef> Max</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input type="number" matInput formControlName="Max">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Icon">
          <th mat-header-cell *matHeaderCellDef> Icon</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input matInput formControlName="Icon">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="IsPercentage">
          <th mat-header-cell *matHeaderCellDef>IsPercentage</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input matInput formControlName="IsPercentage">

            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Color">
          <th mat-header-cell *matHeaderCellDef> Color</th>
          <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
            <mat-form-field class="tformfield">
              <input matInput formControlName="Color">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef style="text-align: center;min-width: 56px;"></th>
          <td mat-cell *matCellDef="let element;index as i" style="text-align: end;">
            <img src="assets/images/delete.svg" width="40px" (click)="DeleteRow(i)">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="GroupParamDisplayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: GroupParamDisplayedColumns;"></tr>
      </table>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div fxLayoutAlign="end center" fxLayoutGap="24px">
      <span class="deletetxt" *ngIf="!SelectedGroup.EdgeGroup" (click)=ResetControl()>Clear</span>
      <span class="deletetxt" *ngIf="SelectedGroup.EdgeGroup" (click)=DeleteGroupClicked()>Delete</span>
      <span class="savetxt" (click)=SaveGroupClicked()>{{SelectedGroup.EdgeGroup?'Update':'Create'}}</span>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button class="fab-btn" (click)="AddParamClicked()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>