:host{
    --ion-safe-area-right: 14px;
    .fab-vertical-top {
        top: 28px;
    }
}
.fab-btn{
    --background:#3131ff;
    --background-activated:#3131ff;
}
.title{
    color: #394256;
    font-size: 12px;
    font-family: 'poppins-semi' !important;
}
.maindiv{
    width: 100%;
    height: 100%;
}
.toolbar{
    --background:#ffffff;
    --min-height:56px;
    box-shadow: 0 2px 3px 0 rgba(31, 0, 158, 0.08);
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:10px;
    .title{
        font-size: 12px;
        font-family: 'poppins-semi' !important;
        color: #394256;
       
    }
    .backbtn{
        width: 16px;
        height: 16px;
    }
}
.footer-toolbar{
    --background:#f4f4fb;
    --min-height:56px;
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:20px;
    font-size: 12px;
    .deletetxt{
        color: #ff0707;
        font-size: 12px;
    font-family: 'poppins-med' !important;

    }
    .savetxt{
        color: #24e02b;
        font-size: 12px;
        font-family: 'poppins-med' !important;
    
    }
}

.mat-table{
    font-family: 'poppins-semi' !important;
}
.tabledivision{
    height: 44rem;
    width: 1450px;
    max-width: 100%;
    border-radius: 4px;
  }
  .tabledivision::-webkit-scrollbar{
      display: none;
      width: 0; 
      background: transparent;
  }
  .trrr{
      width: 10%;
  }
  table {
    width: 80%;
    th {
      color: #ffffff;
      background-color: #3131ff;
      padding-left: 25px;
      border-bottom:10px solid white;
    }
    td {
      font-size: 12px;
      width: 40px;
      color: #a6aeaf; 
      padding-left: 30px;
      text-align:center;
    }
    td.mat-cell{
        border-bottom-color: transparent;
        text-align:center
    }
    tr {
      height: 52px;
    }
    th.mat-header-cell {
         text-align:center
    }
    th.mat-header-cell:first-child {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
      }
      th.mat-header-cell:last-child {
          border-top-right-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
      }
}
.tableFixHead { overflow: scroll; height: 100%;width: 96%;margin-left: 5px; }
.tableFixHead th { position: sticky; top: 0; }
.tableFixHead{
    overflow: auto;
}
@media only screen and (max-width: 281px) {
    .fab{
        width: 30px;
         height: 30px;
         margin-top: 15px;
    }
}
.fab{
    margin-right: 10px;
}
.footer{
    background-color: #f4f4fb;
}
.done{
    color: #0d0c22;
    font-size: 12px;
    font-family: 'poppins-semi' !important;
}