.header{
    color: #394256;
    font-size: 12px;
    font-family: 'poppins-semi' !important;

}
.title{
    color: #394256;
    font-size: 12px;
    font-family: 'poppins-semi' !important;
margin-bottom: 10px;
}
.maindiv{
    width: 100%;
    height: 100%;
}
.mat-table{
    font-family: 'poppins-semi' !important;
}

.tabledivision{

    // overflow: scroll;
    height: 44rem;
    width: 1450px;
    max-width: 100%;
    border-radius: 4px;
  }
  .tabledivision::-webkit-scrollbar{
      display: none;
      width: 0; 
      background: transparent;
  }
  .trrr{
      width: 10%;
  }

  table {
    width: 80%;
    th {
      color: #ffffff;
      background-color: #3131ff;
      padding-left: 25px;
      border-bottom:10px solid white;
    }
    td {
       
      font-size: 12px;
      width: 40px;
      color: #a6aeaf; 
      padding-left: 30px;
      text-align:center;

    }

    td.mat-cell{
        border-bottom-color: transparent;
        text-align:center
    }

    tr {
      height: 52px;
    }
    th.mat-header-cell {
         text-align:center
    }
 
    
    th.mat-header-cell:first-child {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
      }
  
      th.mat-header-cell:last-child {
          border-top-right-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
      }
}
.tableFixHead { overflow: scroll; height: 100%;width: 96%;margin-left: 5px; }
.tableFixHead th { position: sticky; top: 0; }
.tableFixHead{
    overflow: auto;
 
}
