<ion-header mode="ios">
  <ion-toolbar class="toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <div fxLayoutAlign="start center" (click)="SaveClicked()">
        <img class="backbtn" src="assets/Group 20.svg">
      </div>
      <div fxLayoutAlign="start center" fxLayoutGap="4px">
        <span class="title">Masters :</span>
        <span class="title">Asset :</span>
        <span class="title">{{SelectedEdge.EdgeID}}</span>
      </div>
      <div fxFlex></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div fxLayout="column" class="maindiv">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="title1">Parameters</span>
    </div>
    <div class="tabledivision" *ngIf="SelectedEdge?.AssignParams?.length">
      <table mat-table [dataSource]="ParamDataSource">

        <ng-container matColumnDef="PramID">
          <th mat-header-cell *matHeaderCellDef class="headercolor alignhead"> PramID</th>
          <td mat-cell *matCellDef="let element;index as i;">
            <mat-form-field class="tformfield">
              <mat-select [(ngModel)]="element.PramID" class="matselect"
                (selectionChange)="ParamSelect($event.value,i)">
                <mat-option class="matoption" *ngFor="let pram of GroupParams" [value]="pram.ParamID">{{pram.ParamID}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef class="headercolor"> Title</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input matInput autocomplete="off" [(ngModel)]="element.Title">
            </mat-form-field>
          </td>
        </ng-container>


        <ng-container matColumnDef="Unit">
          <th mat-header-cell *matHeaderCellDef class="headercolor"> Unit</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input matInput autocomplete="off" [(ngModel)]="element.Unit">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="LongText">
          <th mat-header-cell *matHeaderCellDef class="headercolor"> Text</th>
          <td mat-cell *matCellDef="let element;" class="boldtext">
            <mat-form-field class="tformfield">
              <input matInput autocomplete="off" [(ngModel)]="element.LongText">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Min">
          <th mat-header-cell *matHeaderCellDef class="headercolor"> Min</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Min">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Max">
          <th mat-header-cell *matHeaderCellDef class="headercolor "> Max</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Max">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Icon">
          <th mat-header-cell *matHeaderCellDef class="headercolor "> Icon</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Icon">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Soft1ExceptionThreshold">
          <th mat-header-cell *matHeaderCellDef class="headercolor "> Soft-1-Ex.Threshold</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Soft1ExceptionThreshold">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Soft2ExceptionThreshold">
          <th mat-header-cell *matHeaderCellDef class="headercolor "> Soft-2-Ex.Threshold</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Soft2ExceptionThreshold">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Hard1ExceptionThreshold">
          <th mat-header-cell *matHeaderCellDef class="headercolor ">Hard-1-Ex.Threshold</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Hard1ExceptionThreshold">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Hard2ExceptionThreshold">
          <th mat-header-cell *matHeaderCellDef class="headercolor "> Hard-2-Ex.Threshold</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input type="number" matInput autocomplete="off" [(ngModel)]="element.Hard2ExceptionThreshold">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="ActivityGraphTitle">
          <th mat-header-cell *matHeaderCellDef class="headercolor "> Activity Graph</th>
          <td mat-cell *matCellDef="let element;">
            <mat-form-field class="tformfield">
              <input matInput autocomplete="off" [(ngModel)]="element.ActivityGraphTitle">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef class="headercolor ">Status</th>
          <td mat-cell *matCellDef="let element;">
            {{element.IsActive?'Active':'Inactive'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            Action</th>
          <td mat-cell *matCellDef="let element;index as i;" style="text-align: center;min-width:74px;">
            <!-- <div mat-ripple fxLayoutAlign="center center" class="delete-container pointer"
                    (click)="DeleteAssignParam(i)">
                    <img src="assets/images/v2/delete.svg" width="32px">
                    <span class="delete deletetxt">Delete</span>
                </div> -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <span mat-menu-item class="menuitem" (click)="DeleteAssignParam(i)">Delete</span>
              <span *ngIf="!element.IsActive" class="menuitem" mat-menu-item
                (click)="ToggleParamStatus(i)">Enable</span>
              <span *ngIf="element.IsActive" class="menuitem" mat-menu-item
                (click)="ToggleParamStatus(i)">Disable</span>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ParamdisplayedColumns; sticky: true" class="colheader">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ParamdisplayedColumns;"></tr>
      </table>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div fxLayoutAlign="end center" fxLayoutGap="24px" (click)="SaveClicked(true)">
      <span class="done">Save</span>
    </div>
  </ion-toolbar>
</ion-footer>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button class="fab-btn" (click)="AddAssignParam()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>