/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{
    font-family:'poppins';
    src: url("./assets/Poppins-Regular.ttf");
}
@font-face{
    font-family: 'poppins-med';
    src:url('assets/Poppins-Medium.ttf');
    }
    @font-face{
    
    font-family: 'poppins-bold';
    src:url('assets/Poppins-Bold.ttf');
    }
    @font-face{
      font-family: 'poppins-light';
      src:url('assets/Poppins-Light.ttf');
      }
    @font-face{
      font-family: 'poppins-semi';
      src:url('assets/Poppins-SemiBold.ttf');
      }






//For Angular Gauge
mwl-gauge.gauge-style-1 {
  margin-top: 22px;
  width: 110px;
  height: 110px;
  display: block;
}
mwl-gauge.gauge-style-1 > .gauge > .dial {
  stroke: #eee;
  stroke-width: 5;
}
mwl-gauge.gauge-style-1 > .gauge > .value {
  stroke: #3131ff;
  stroke-width: 5;
}
mwl-gauge.gauge-style-1 > .gauge > .value-text {
  fill: #485865;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  opacity: 0.99;
}
mwl-gauge.gauge-style-2 {
  width: 140px;
  display: block;
}
mwl-gauge.gauge-style-2 > .gauge > .dial {
  stroke: #eee;
  stroke-width: 5;
}
mwl-gauge.gauge-style-2 > .gauge > .value {
  stroke: #3131ff;
  stroke-width: 5;
}
mwl-gauge.gauge-style-2 > .gauge > .value-text {
  fill: #485865;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  opacity: 0.99;
}
mwl-gauge.gauge-style-3 {
  width: 140px;
  display: block;
}
mwl-gauge.gauge-style-3 > .gauge > .dial {
  stroke: #eee;
  stroke-dasharray: 1.2px;
  stroke-width: 5;
}
mwl-gauge.gauge-style-3 > .gauge > .value {
  stroke: #3131ff;
  stroke-dasharray: 1.2px;
  stroke-width: 5;
}
mwl-gauge.gauge-style-3 > .gauge > .value-text {
  fill: #485865;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  opacity: 0.99;
}

mwl-gauge.gauge-style-4 {
  width: 600px;
  display: block;
}
mwl-gauge.gauge-style-4 > .gauge > .dial {
  stroke: #c72838;
  stroke-width: 5;
}
mwl-gauge.gauge-style-4 > .gauge > .value {
  stroke: #3131ff;
  stroke-width: 5;
}
mwl-gauge.gauge-style-4 > .gauge > .value-text {
  fill: transparent;
}
mwl-gauge.gauge-style-5 {
  width: 530px;
  display: block;
}
mwl-gauge.gauge-style-5 > .gauge > .dial {
  stroke: #e4e4e4;
  stroke-dasharray: 0.6px;
  stroke-width: 2;
}
mwl-gauge.gauge-style-5 > .gauge > .value {
  stroke: #3131ff;
  stroke-dasharray: 0.6px;
  stroke-width: 2;
}
mwl-gauge.gauge-style-5 > .gauge > .value-text {
  fill: transparent;
}
