
.flex{
    flex: 1 1 auto;
}
.device{
    color: #394256;
    font-family: 'poppins-semi' !important;
}
.maindiv{
    width: 100%;
    height: 100%;

}
.toolbar{
    --background:#ffffff;
    --min-height:56px;
    box-shadow: 0 2px 3px 0 rgba(31, 0, 158, 0.08);
    --border-width:0 !important;
    --padding-start:24px;
    --padding-end:10px;
    .title{
        font-size: 12px;
        font-family: 'poppins-semi' !important;
        color: #394256;
       
    }
    .backbtn{
        width: 16px;
        height: 16px;
    }
  }
.mat-table{
    font-family: 'poppins-semi' !important;
}

.tabledivision{
    height: 44rem;
    width: 1450px;
    max-width: 100%;
    border-radius: 4px;
  }
  .tabledivision::-webkit-scrollbar{
      display: none;
      width: 0; 
      background: transparent;
  }
  .trrr{
      width: 10%;
  }
  table {
    width: 100%;
    th {
      color: #ffffff;
      background-color: #3131ff;
      padding-left: 25px;
      border-bottom:10px solid white;
    }
    td {
      font-size: 12px;
      width: 40px;
      color: #a6aeaf; 
      padding-left: 30px;
      text-align:center
    }
    td.mat-cell{
        border-bottom-color: transparent;
        text-align:center
    }
    tr {
      height: 52px;
    }
    th.mat-header-cell {
         text-align:center
    }
    th.mat-header-cell:first-child {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
      }
      th.mat-header-cell:last-child {
          border-top-right-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
      }
}

.menu1{
    font-size: 12px;
    font-weight: 600;
    color: #1e3e67;
    font-family: 'poppins' !important;
    text-align: right;
    width:165px;
    height:35px;
}
.all{
    font-size: 10px;
color:#3131ff;
font-family: 'poppins-semi' !important;
}
.all1{
    font-size: 10px;

    color: black;
    font-family: 'poppins-semi' !important;
    }
.active{
    color: #00DE34;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
        }
.active1{
    color: #394256;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
         }
.inactive{
     color: #FF4646;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
         }
.inactive1{
    color: #394256;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
     }
.green_img{
    filter: invert(58%) sepia(34%) saturate(4605%) hue-rotate(94deg) brightness(108%) contrast(103%);
}
.red_img{
    filter: invert(65%) sepia(84%) saturate(6039%) hue-rotate(335deg) brightness(98%) contrast(106%);
}
.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0px solid rgba(0,0,0,.12);
}
.tableFixHead { overflow: scroll; height: 100%; }
.tableFixHead th { position: sticky; top: 0; }
.tableFixHead{
    overflow: auto;
 
}
.search-container{
    border-radius: 4px;
    border: solid 1px #3131ff;
    height: 30%;
    width: 95%;
    background-color: #ffffff;
    // margin-left:10px;
}
.search{
  font-family: 'poppins-bold' !important;
    font-size: 12px;
    color: #3131ff;
    border: none;
    margin-left: 1rem;
}
.search::-webkit-input-placeholder {
    color: #3131ff;
    font-size: 12px;
    font-family: 'poppins-bold' !important;
}
.search:focus{
    outline: none;
}
.searchbtn{
   height: 34px;
    width: 60px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #3131ff;
}
.pointer{
    cursor: pointer;
}
.close{
    width:24px;
}
//mat-tab
::ng-deep .tab .mat-ink-bar {
    visibility: hidden !important;
  }
  ::ng-deep .tab .mat-tab-labels {
    display: flex !important;
    padding-left: 32px !important;
}
::ng-deep .tab .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
//mat-trigger
::ng-deep .mennu.mat-menu-panel {
    background: #f4f4fb !important;
    position: relative !important;
    left: 16% !important;
}















































// ::ng-deep input.mat-input-element {
    //     margin-top: 20px;
    //     width: 40%;
    //     height: 32px;
    //     font-family: 'poppins-semi' !important;
    //   }

//   ::ng-deep .cdk-overlay-connected-position-bounding-box {
//     position: absolute;
//     top: -15px !important;
//     z-index: 1000;
//     display: flex;
//     flex-direction: column;
//     min-width: 1px;
//     min-height: 1px;
//   }
//   .mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
//     background:transparent;
//     color: #3131ff;
// }
// ::ng-deep .mat-menu-content:not(:empty) {
//     padding-top: 0px;
//     padding-bottom: 10px;
// }
// ::ng-deep .mennu.cdk-overlay-pane{
//     position: relative;
//     top: 100% !important;
// left: 70%;
// }

  
